//-Primary Variables
:root {
  --dark-theme: #333;
  --light-theme: #EEEEEE;
  --primary: rgb(30, 144, 255);
  --hover: rgb(118, 185, 252);
  --focus: rgb(185, 0, 0);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* so that padding doesn't affect the look */
  height: 100%;
  overflow: overlay; // if browser support overly
  min-width: 320px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  height: 100%;
  min-width: 320px;
  // font-family: $body-font, Arial, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
  /* space between lines in text. */
  // color: var(--light-theme);
  /* text color primari for texts */
  // background-color: var(--dark-theme);
  /* page bacground color */
  overflow: overlay; // if browser support overlay
  // letter-spacing: rem(1);
}

button,
input {
  font: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  transition: color .3s ease;
}

picture {
  display: block;
  width: fit-content;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0px 0px 0px 0px);
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

// .wrapper {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   min-height: 100%;
//   position: relative;
//   margin: 0 auto;
//   overflow: hidden;
//   /* if you use position: sticky on the site - remove this setting */
//   background-color: var(--dark-theme);
//   transition: background-color .3s ease-in-out;
// }

// .container {
//   margin: 0 auto;
//   max-width: $maxWidthContainer + px;
//   padding-right: $containerPadding + px;
//   padding-left: $containerPadding + px;
// }

.btn-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.js-focus-visible:focus:not(.focus-visible) {
  outline: none;
}


// ::: Custom Scss :::
// @import 'header';
// @import 'main';
// @import 'footer';
// @import 'queries';

.colored {
  color: var(--primary);
  transition: color .3s ease-in-out;
}

// .server-error {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   color: peru;

//   &-picture {
//     display: block;
//     max-height: 400px;
//     margin: 0 auto;
//     margin-bottom: 10px;
//     transform: translateX(30px);
//   }

//   &-img {
//     display: block;
//     max-height: 400px;
//   }
// }



// ::: Custom Scss :::

// fixed blocks
.is-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-color: var(--dark-theme);
  opacity: 1;
  z-index: 5;
}

/*Remove scrollbar for entire page*/
/*doesn't work in firefox!!!*/
*::-webkit-scrollbar {
  width: 7px;
  background: transparent;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: var(--primary);
}

*::-webkit-scrollbar-track {
  background: transparent;
  background-color: transparent;
}

.ytp-pause-overlay {
  display: none;
}