.section {
  width: 100%;
  display: grid;
  place-items: center;
}

.form {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.form > h1 {
  color: #1a85ff;
}

.form__input {
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 35px;
}

.form__input:focus {
  border-bottom: 1px solid #000;
}

.form__button {
  outline: none;
  border: none;
  height: 35px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.form__button:hover {
  background-color: #1a85ff;
}

.active {
  border-bottom: 1px solid #000;
}

p {
  justify-content: center;
  align-items: center;
  font-size: small;
}
